{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block title %}
Fuel Tool - Gas Expense Calculator
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='main.css')}}">
{% endblock %}


{% block content %}
<div id="main_container">
    <p><a href = "https://www.linkedin.com/in/jakob-johnson-9a00a0159/" title="Go to my LinkedIn">Jakob Johnson</a></p>
    <p><a href = "http://www.gatech.edu/" title="Go to my awesome school's website">Georgia Tech</a></p>
    <h1> Fuel Tool </h1>

    <form method="POST">
        <div class="fieldSet">
            <fieldset>
            <legend>Trip Information</legend>
                <d1>
                    {{wtf.form_field(form.make)}}
                    {{wtf.form_field(form.model)}}
                    {{wtf.form_field(form.year)}}
                    {{wtf.form_field(form.start_address, placeholder="801 Atlantic Dr NW, Atlanta, GA")}}
                    {{wtf.form_field(form.end_address, placeholder="801 Atlantic Dr NW, Atlanta, GA")}}
                </d1>
                <input type="submit" class="btn btn-dark" value="Calculate!">
            </fieldset>
        </div>
    </form>
</div>
{% endblock %}



{% block scripts %}
<script src="{{url_for('.static', filename='dynamic_dropdown.js')}}"></script>
{{super()}}
{% endblock %}

